In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
from matplotlib import pyplot as plt

Importing the dataset and loading it into a pandas dataframe.

In [3]:
sample_data = pd.read_csv('insurance.csv')

In [4]:
sample_data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Checking missing values

In [5]:
sample_data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Convert categorical data to numerical data

In [7]:
sample_data['sex'] = LabelEncoder().fit_transform(sample_data['sex'])
sample_data['smoker'] = LabelEncoder().fit_transform(sample_data['smoker'])
sample_data['region'] = LabelEncoder().fit_transform(sample_data['region'])

Normalize numerical data

In [8]:
scaler = StandardScaler()
sample_data[['age', 'bmi', 'children']] = scaler.fit_transform(sample_data[['age', 'bmi', 'children']])

Split the data into training and testing sets

In [9]:
X_train, X_test, y_train, y_test = train_test_split(sample_data.drop('charges', axis=1), sample_data['charges'], test_size=0.2, random_state=42)

Train the Random Forest Regressor on the training set

In [10]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

Evaluate the performance of the Random Forest Regressor on the testing set

In [11]:
y_pred = rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 20827913.205296144